@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Add a stylist</h2>

<h4>Add a stylist to this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.Label("Select stylist")
    @Html.DropDownList("StylistId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Stylist", "AddStylist", new { id = Model.ClientId })</p>